# VeriNews: Hindi Fake news detection:

## 1. Load Dataset:

In [1]:
import pandas as pd

In [2]:
df_fake = pd.read_csv('FakeNews.csv')
df_true = pd.read_csv('TrueNews.csv')

## 2. Data Preview:

In [3]:
df_fake.head()

   Column1                                  short_description
0        1   गडकरी ने नहीं दिया है पीएम मोदी और राम मंदिर ...
1        2   राम मंदिर वहीं बना है जहां रामलला विराजमान थे...
2        3   यूपी में बोर्ड की परीक्षा नहीं हुई है रद्द, य...
3        4   नेपाल से अयोध्या के जुलूस का नहीं, ये ग्रेटर ...
4        5   एमपी का सीएम बनने के बाद मोहन यादव ने दी जनता...

In [4]:
df_fake.tail()

      Column1                                  short_description
2699     2700    राजस्थान की महिला MLA की छवि खराब करने के लि...
2700     2701    मध्य प्रदेश की साल 2019 की घटना को हालिया बत...
2701     2702   खुर्जा में बोइंग का वेयरहाउस खुला, लेकिन वायर...
2702     2703   जलते हुए समुद्री जहाज का यह वीडियो 2020 का है...
2703     2704   ढांचे वाली जगह पर ही बन रहा मंदिर, तीन किलोमी...

In [5]:
df_fake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2704 entries, 0 to 2703
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Column1            2704 non-null   int64
 1   short_description  2704 non-null   object
dtypes: int64(1), object(1)
memory usage: 42.4+ KB

In [6]:
df_true.head()

   Column1                                  short_description
0        1  राम मंदिर प्राण-प्रतिष्ठा: फर्श पर सोना-नारियल...
1        2  Ayodhya Ram Mandir Pran Pratishtha से पहले कठि...
2        3  8 PHOTOS:देखें रामलला की प्राण-प्रतिष्ठा से पह...
3        4  22 जनवरी को अयोध्या में कैसा रहेगा मौसम, जानें...
4        5  सोलापुर में PM की 15 बड़ी बातें, मोदी के 22 जन...

In [7]:
df_fake.tail()

      Column1                                  short_description
2699     2700    राजस्थान की महिला MLA की छवि खराब करने के लि...
2700     2701    मध्य प्रदेश की साल 2019 की घटना को हालिया बत...
2701     2702   खुर्जा में बोइंग का वेयरहाउस खुला, लेकिन वायर...
2702     2703   जलते हुए समुद्री जहाज का यह वीडियो 2020 का है...
2703     2704   ढांचे वाली जगह पर ही बन रहा मंदिर, तीन किलोमी...

In [8]:
df_true.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4020 entries, 0 to 4019
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Column1            4020 non-null   int64
 1   short_description  4020 non-null   object
dtypes: int64(1), object(1)
memory usage: 62.9+ KB

In [9]:
df_fake["class"] = 0
df_true["class"] = 1

In [10]:
df_fake.shape, df_true.shape

((2704, 3), (4020, 3))

### Saving some data for manual testing:

In [11]:
df_fake_manual_testing = df_fake.tail(10)
for i in range(2703,2693,-1):
    df_fake.drop([i],axis = 0, inplace = True)

    
df_true_manual_testing = df_true.tail(10)
for i in range(4019,4009,-1):
    df_true.drop([i],axis = 0, inplace = True)

In [12]:
df_fake.shape, df_true.shape

((2694, 3), (4010, 3))

In [13]:
df_fake_manual_testing['class'] = 0
df_true_manual_testing['class'] = 1

/var/folders/xq/1tpd_wrd2sndfp6f965rpnm00000gn/T/ipykernel_1203/1523065411.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fake_manual_testing['class'] = 0
/var/folders/xq/1tpd_wrd2sndfp6f965rpnm00000gn/T/ipykernel_1203/1523065411.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_true_manual_testing['class'] = 1

In [14]:
df_fake_manual_testing.head(10)

      Column1                                  short_description  class
2694     2695   माचिस की तीली के पाउडर से नहीं होता बिच्छू के...      0
2695     2696   22 जनवरी को मॉरिशस सरकार नहीं दे रही सार्वजनि...      0
2696     2697    अयोध्या में पुष्पक विमान और लव-कुश के दिखने ...      0
2697     2698    पाकिस्तानी हैंडल्स ने किया भारतीय वायुसेना क...      0
2698     2699    खेसारी लाल का यह वीडियो करीब दो साल पुराना ह...      0
2699     2700    राजस्थान की महिला MLA की छवि खराब करने के लि...      0
2700     2701    मध्य प्रदेश की साल 2019 की घटना को हालिया बत...      0
2701     2702   खुर्जा में बोइंग का वेयरहाउस खुला, लेकिन वायर...      0
2702     2703   जलते हुए समुद्री जहाज का यह वीडियो 2020 का है...      0
2703     2704   ढांचे वाली जगह पर ही बन रहा मंदिर, तीन किलोमी...      0

In [15]:
df_true_manual_testing.head(10)

      Column1                                  short_description  class
4010     4011  UP Police Bharti 2024: कॉन्स्टेबल भर्ती परीक्ष...      1
4011     4012  UP Roadways Bharti: यूपी रोडवेज में कंडक्टर के...      1
4012     4013  LIVE JEE Main Admit Card 2024: जेईई मेन एडमिट ...      1
4013     4014  मंहगे होंगे टाटा के सभी पैसेंजर व्हीकल, इनपुट ...      1
4014     4015  Dark Chocolate: पीरियड्स क्रैम्प से राहत दिला ...      1
4015     4016  प्राण प्रतिष्ठा की अयोध्या से लेकर कैलिफोर्निय...      1
4016     4017  छक्का जड़ने पर मिलेंगे 12 रन... जल्द आएगा नया ...      1
4017     4018  Power Consumption: चालू वित्त वर्ष की अप्रैल-द...      1
4018     4019  Entertainment Top 5 News 21 Jan: 'फाइटर' में क...      1
4019     4020  Ram Mandir के लिए 'सालार' के मेकर्स ने तैयार क...      1

### Merging true and fake dataframes into a single data frame:

In [16]:
df_merge = pd.concat([df_fake, df_true], axis = 0)

In [17]:
df_merge.head(5), df_merge.tail(5)

(   Column1                                  short_description  class
 0        1   गडकरी ने नहीं दिया है पीएम मोदी और राम मंदिर ...      0
 1        2   राम मंदिर वहीं बना है जहां रामलला विराजमान थे...      0
 2        3   यूपी में बोर्ड की परीक्षा नहीं हुई है रद्द, य...      0
 3        4   नेपाल से अयोध्या के जुलूस का नहीं, ये ग्रेटर ...      0
 4        5   एमपी का सीएम बनने के बाद मोहन यादव ने दी जनता...      0,
       Column1                                  short_description  class
 4005     4006  फ्लाइट में लगे 'जय श्री राम' के नारे, फ्लैग लि...      1
 4006     4007  Russia-Ukraine War: रूस के कब्जे वाले यूक्रेन ...      1
 4007     4008  Ramlala Pran Pratishtha: प्राण-प्रतिष्ठा के दि...      1
 4008     4009  Vladimir Putin North Korea Visit: उत्तर कोरिया...      1
 4009     4010  School Close on 22 January: राम मंदिर उद्घाटन ...      1)

## 3. Data Cleaning:

In [18]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6704 entries, 0 to 4009
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Column1            6704 non-null   int64
 1   short_description  6704 non-null   object
 2   class              6704 non-null   int64
dtypes: int64(2), object(1)
memory usage: 209.5+ KB

In [19]:
df=df_merge.drop(['Column1'], axis = 1)

### Count missing values:

In [20]:
df.isnull().sum()

short_description    0
class                0
dtype: int64

### Randomly shuffling the dataframe:

In [21]:
df = df.sample(frac = 1)

In [22]:
df.head()

                                      short_description  class
3706  Russia-Ukraine War: रूस के कब्जे वाले यूक्रेन ...      1
3183  बजट में बुनियादी ढांचा क्षेत्र के लिए पूंजीगत ...      1
543   बेरोजगारी के नाम पर आतंकी गतिविधियों को प्रोत्...      1
3370  UP Police Bharti 2024: कॉन्स्टेबल भर्ती परीक्ष...      1
2629  School Close on 22 January: राम मंदिर उद्घाटन ...      1

In [23]:
df.reset_index(inplace = True)
df.drop(['index'], axis=1, inplace=True)

In [24]:
df

                                      short_description  class
0     Russia-Ukraine War: रूस के कब्जे वाले यूक्रेन ...      1
1     बजट में बुनियादी ढांचा क्षेत्र के लिए पूंजीगत ...      1
2     बेरोजगारी के नाम पर आतंकी गतिविधियों को प्रोत्...      1
3     UP Police Bharti 2024: कॉन्स्टेबल भर्ती परीक्ष...      1
4     School Close on 22 January: राम मंदिर उद्घाटन ...      1
...                                                 ...    ...
6699   पाकिस्तान में ईरानी एयर स्ट्राइक की रिपोर्टिं...      0
6700  Entertainment Top 5 News 21 Jan: 'फाइटर' में क...      1
6701  खिलाने के बाद बच्चे की तरह मुंह पोंछती थी मां,...      1
6702  तेलंगाना महालक्ष्मी स्कीम शुरू, महिलाओं को फ्र...      1
6703  मणिपुर में भीड़ ने की मुख्यमंत्री एन बीरेन सिं...      1

[6704 rows x 2 columns]

## 4. Preprocessing:

In [25]:
import re
import string

### remove punctuation:

In [26]:
def remove_punctuation(text):
    return re.sub(f"[{string.punctuation}]", "", text)

In [27]:
df['cleaned_text'] = df['short_description'].apply(remove_punctuation)
df.head()

,short_description,class,cleaned_text
0,Russia-Ukraine War: रूस के कब्जे वाले यूक्रेन ...,1,RussiaUkraine War रूस के कब्जे वाले यूक्रेन मे...
1,बजट में बुनियादी ढांचा क्षेत्र के लिए पूंजीगत ...,1,बजट में बुनियादी ढांचा क्षेत्र के लिए पूंजीगत ...
2,बेरोजगारी के नाम पर आतंकी गतिविधियों को प्रोत्...,1,बेरोजगारी के नाम पर आतंकी गतिविधियों को प्रोत्...
3,UP Police Bharti 2024: कॉन्स्टेबल भर्ती परीक्ष...,1,UP Police Bharti 2024 कॉन्स्टेबल भर्ती परीक्षा...
4,School Close on 22 January: राम मंदिर उद्घाटन ...,1,School Close on 22 January राम मंदिर उद्घाटन प...

### stemming:

In [28]:
suffixes = {
    1: ["ो", "े", "ू", "ु", "ी", "ि", "ा"],
    2: ["कर", "ाओ", "िए", "ाई", "ाए", "ने", "नी", "ना", "ते", "ीं", "ती", "ता", "ाँ", "ां", "ों", "ें"],
    3: ["ाकर", "ाइए", "ाईं", "ाया", "ेगी", "ेगा", "ोगी", "ोगे", "ाने", "ाना", "ाते", "ाती", "ाता", "तीं", "ाओं", "ाएं", "ुओं", "ुएं", "ुआं"],
    4: ["ाएगी", "ाएगा", "ाओगी", "ाओगे", "एंगी", "ेंगी", "एंगे", "ेंगे", "ूंगी", "ूंगा", "ातीं", "नाओं", "नाएं", "ताओं", "ताएं", "ियाँ", "ियों", "ियां"],
    5: ["ाएंगी", "ाएंगे", "ाऊंगी", "ाऊंगा", "ाइयाँ", "ाइयों", "ाइयां"],
}

def custom_hindi_stemmer(word):
    for L in range(5, 0, -1):  # Start with the longest suffixes
        if L in suffixes:
            for suffix in suffixes[L]:
                if word.endswith(suffix):
                    return word[:-L]
    return word

In [29]:
def stem_text(text):
    tokens = text.split()
    stemmed_tokens = [custom_hindi_stemmer(token) for token in tokens]
    return ' '.join(stemmed_tokens)

In [30]:
df['stemmed_text'] = df['cleaned_text'].apply(stem_text)
df.head()

,short_description,class,cleaned_text,stemmed_text
0,Russia-Ukraine War: रूस के कब्जे वाले यूक्रेन ...,1,RussiaUkraine War रूस के कब्जे वाले यूक्रेन मे...,RussiaUkraine War रूस क कब्ज वाल यूक्रेन म भीष...
1,बजट में बुनियादी ढांचा क्षेत्र के लिए पूंजीगत ...,1,बजट में बुनियादी ढांचा क्षेत्र के लिए पूंजीगत ...,बजट म बुनियाद ढांच क्षेत्र क ल पूंजीगत व्यय बढ...
2,बेरोजगारी के नाम पर आतंकी गतिविधियों को प्रोत्...,1,बेरोजगारी के नाम पर आतंकी गतिविधियों को प्रोत्...,बेरोजगार क नाम पर आतंक गतिविध क प्रोत्साहित र...
3,UP Police Bharti 2024: कॉन्स्टेबल भर्ती परीक्ष...,1,UP Police Bharti 2024 कॉन्स्टेबल भर्ती परीक्षा...,UP Police Bharti 2024 कॉन्स्टेबल भर् परीक्ष ति...
4,School Close on 22 January: राम मंदिर उद्घाटन ...,1,School Close on 22 January राम मंदिर उद्घाटन प...,School Close on 22 January राम मंदिर उद्घाटन प...

In [31]:
custom_stopwords = ['मैं', 'मुझको', 'मेरा', 'अपने आप को', 'हमने', 'हमारा', 'अपना', 'हम', 'आप', 'आपका', 'तुम्हारा', 'अपने आप', 
                    'स्वयं', 'वह', 'इसे', 'उसके', 'खुद को', 'कि वह', 'उसकी', 'उसका', 'खुद ही', 'यह', 'इसके', 'उन्होने', 
                    'अपने', 'क्या', 'जो', 'किसे', 'किसको', 'कि', 'ये', 'हूँ', 'होता है', 'रहे', 'थी', 'थे', 'होना', 'गया', 
                    'किया जा रहा है', 'किया है', 'है', 'पडा', 'होने', 'करना', 'करता है', 'किया', 'रही', 'एक', 'लेकिन', 
                    'अगर', 'या', 'क्यूंकि', 'जैसा', 'जब तक', 'जबकि', 'की', 'पर', 'द्वारा', 'के लिए', 'साथ', 'के बारे में', 
                    'खिलाफ', 'बीच', 'में', 'के माध्यम से', 'दौरान', 'से पहले', 'के बाद', 'ऊपर', 'नीचे', 'को', 'से', 'तक', 
                    'से नीचे', 'करने में', 'निकल', 'बंद', 'से अधिक', 'तहत', 'दुबारा', 'आगे', 'फिर', 'एक बार', 'यहाँ', 'वहाँ', 
                    'कब', 'कहाँ', 'क्यों', 'कैसे', 'सारे', 'किसी', 'दोनो', 'प्रत्येक', 'ज्यादा', 'अधिकांश', 'अन्य', 'में कुछ', 
                    'ऐसा', 'में कोई', 'मात्र', 'खुद', 'समान', 'इसलिए', 'बहुत', 'सकता', 'जायेंगे', 'जरा', 'चाहिए', 'अभी', 'और', 
                    'कर दिया', 'रखें', 'का', 'हैं', 'इस', 'होता', 'करने', 'ने', 'बनी', 'तो', 'ही', 'हो', 'इसका', 'था', 'हुआ', 
                    'वाले', 'बाद', 'लिए', 'सकते', 'इसमें', 'दो', 'वे', 'करते', 'कहा', 'वर्ग', 'कई', 'करें', 'होती', 'अपनी', 
                    'उनके', 'यदि', 'हुई', 'जा', 'कहते', 'जब', 'होते', 'कोई', 'हुए', 'व', 'जैसे', 'सभी', 'करता', 'उनकी', 
                    'तरह', 'उस', 'आदि', 'इसकी', 'उनका', 'इसी', 'पे', 'तथा', 'भी', 'परंतु', 'इन', 'कम', 'दूर', 'पूरे', 'गये', 
                    'तुम', 'मै', 'यहां', 'हुये', 'कभी', 'अथवा', 'गयी', 'प्रति', 'जाता', 'इन्हें', 'गई', 'अब', 'जिसमें', 'लिया', 
                    'बड़ा', 'जाती', 'तब', 'उसे', 'जाते', 'लेकर', 'बड़े', 'दूसरे', 'जाने', 'बाहर', 'स्थान', 'उन्हें', 'गए', 
                    'ऐसे', 'जिससे', 'समय', 'दोनों', 'किए', 'रहती', 'इनके', 'इनका', 'इनकी', 'सकती', 'आज', 'कल', 'जिन्हें', 
                    'जिन्हों', 'तिन्हें', 'तिन्हों', 'किन्हों', 'किन्हें', 'इत्यादि', 'इन्हों', 'उन्हों', 'बिलकुल', 'निहायत', 
                    'इन्हीं', 'उन्हीं', 'जितना', 'दूसरा', 'कितना', 'साबुत', 'वग़ैरह', 'कौनसा', 'लिये', 'दिया', 'जिसे', 
                    'तिसे', 'काफ़ी', 'पहले', 'बाला', 'मानो', 'अंदर', 'भीतर', 'पूरा', 'सारा', 'उनको', 'वहीं', 'जहाँ', 
                    'जीधर', '\ufeffके', 'एवं', 'कुछ', 'कुल', 'रहा', 'जिस', 'जिन', 'तिस', 'तिन', 'कौन', 'किस', 'संग', 
                    'यही', 'बही', 'उसी', 'मगर', 'कर', 'मे', 'एस', 'उन', 'सो', 'अत']

In [32]:
def remove_stopwords(text):
    tokens = text.split()
    filtered_tokens = [word for word in tokens if word not in custom_stopwords]
    return ' '.join(filtered_tokens)

In [33]:
df['final_text'] = df['stemmed_text'].apply(remove_stopwords)
df.head()

,short_description,class,cleaned_text,stemmed_text,final_text
0,Russia-Ukraine War: रूस के कब्जे वाले यूक्रेन ...,1,RussiaUkraine War रूस के कब्जे वाले यूक्रेन मे...,RussiaUkraine War रूस क कब्ज वाल यूक्रेन म भीष...,RussiaUkraine War रूस क कब्ज वाल यूक्रेन म भीष...
1,बजट में बुनियादी ढांचा क्षेत्र के लिए पूंजीगत ...,1,बजट में बुनियादी ढांचा क्षेत्र के लिए पूंजीगत ...,बजट म बुनियाद ढांच क्षेत्र क ल पूंजीगत व्यय बढ...,बजट म बुनियाद ढांच क्षेत्र क ल पूंजीगत व्यय बढ...
2,बेरोजगारी के नाम पर आतंकी गतिविधियों को प्रोत्...,1,बेरोजगारी के नाम पर आतंकी गतिविधियों को प्रोत्...,बेरोजगार क नाम पर आतंक गतिविध क प्रोत्साहित र...,बेरोजगार क नाम आतंक गतिविध क प्रोत्साहित रह का...
3,UP Police Bharti 2024: कॉन्स्टेबल भर्ती परीक्ष...,1,UP Police Bharti 2024 कॉन्स्टेबल भर्ती परीक्षा...,UP Police Bharti 2024 कॉन्स्टेबल भर् परीक्ष ति...,UP Police Bharti 2024 कॉन्स्टेबल भर् परीक्ष ति...
4,School Close on 22 January: राम मंदिर उद्घाटन ...,1,School Close on 22 January राम मंदिर उद्घाटन प...,School Close on 22 January राम मंदिर उद्घाटन प...,School Close on 22 January राम मंदिर उद्घाटन य...

### dropping irrelevant columns:

In [34]:
df = df[['class','final_text']]

In [35]:
df

      class                                         final_text
0         1  RussiaUkraine War रूस क कब्ज वाल यूक्रेन म भीष...
1         1  बजट म बुनियाद ढांच क्षेत्र क ल पूंजीगत व्यय बढ...
2         1  बेरोजगार क नाम आतंक गतिविध क प्रोत्साहित रह का...
3         1  UP Police Bharti 2024 कॉन्स्टेबल भर् परीक्ष ति...
4         1  School Close on 22 January राम मंदिर उद्घाटन य...
...     ...                                                ...
6699      0  पाकिस्तान म ईरा एयर स्ट्राइक क रिपोर्टिंग प्रत...
6700      1  Entertainment Top 5 News 21 Jan फाइटर म क बड़ ...
6701      1          खिल क बच्च क मुंह पोंछ थ म भावुक ह PM मोद
6702      1  तेलंग महालक्ष्म स्कीम शुर महिल क फ्र बस सर्विस...
6703      1  मणिपुर म भीड़ क मुख्यमंत्र एन बीरेन सिंह क घर ...

[6704 rows x 2 columns]

## 5. BERT

In [36]:
pip install transformers torch

Requirement already satisfied: transformers in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (4.43.3)
Requirement already satisfied: torch in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.4.0)
Requirement already satisfied: filelock in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from transformers) (3.15.4)
Requirement already satisfied: huggingface-hub<1.0,>=0.23.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from transformers) (0.24.3)
Requirement already satisfied: numpy>=1.17 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from transformers) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from transformers) (24.1)
Requirement already satisfied: pyyaml>=5.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from transformers) (6.0.1)
Requirement already satisfied: regex!=2019.12.17 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from transformers) (2024.7.24)
Requirement already satisfied: requests in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from transformers) (2.32.3)
Requirement already satisfied: safetensors>=0.4.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from transformers) (0.4.3)
Requirement already satisfied: tokenizers<0.20,>=0.19 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from transformers) (0.19.1)
Requirement already satisfied: tqdm>=4.27 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from transformers) (4.66.4)
Requirement already satisfied: typing-extensions>=4.8.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from torch) (4.12.2)
Requirement already satisfied: sympy in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from torch) (1.13.1)
Requirement already satisfied: networkx in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from torch) (3.3)
Requirement already satisfied: jinja2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from torch) (3.1.4)
Requirement already satisfied: fsspec in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from torch) (2024.5.0)
Requirement already satisfied: setuptools in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from torch) (71.1.0)
Requirement already satisfied: MarkupSafe>=2.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jinja2->torch) (2.1.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests->transformers) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests->transformers) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests->transformers) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests->transformers) (2024.7.4)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from sympy->torch) (1.3.0)
Note: you may need to restart the kernel to use updated packages.

In [37]:
!pip install ipywidgets

Requirement already satisfied: ipywidgets in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (8.1.3)
Requirement already satisfied: comm>=0.1.3 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from ipywidgets) (0.2.2)
Requirement already satisfied: ipython>=6.1.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from ipywidgets) (8.26.0)
Requirement already satisfied: traitlets>=4.3.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from ipywidgets) (5.14.3)
Requirement already satisfied: widgetsnbextension~=4.0.11 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from ipywidgets) (4.0.11)
Requirement already satisfied: jupyterlab-widgets~=3.0.11 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from ipywidgets) (3.0.11)
Requirement already satisfied: decorator in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from ipython>=6.1.0->ipywidgets) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from ipython>=6.1.0->ipywidgets) (0.19.1)
Requirement already satisfied: matplotlib-inline in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from ipython>=6.1.0->ipywidgets) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from ipython>=6.1.0->ipywidgets) (3.0.47)
Requirement already satisfied: pygments>=2.4.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from ipython>=6.1.0->ipywidgets) (2.18.0)
Requirement already satisfied: stack-data in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from ipython>=6.1.0->ipywidgets) (0.6.3)
Requirement already satisfied: pexpect>4.3 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from ipython>=6.1.0->ipywidgets) (4.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pexpect>4.3->ipython>=6.1.0->ipywidgets) (0.7.0)
Requirement already satisfied: wcwidth in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=6.1.0->ipywidgets) (0.2.13)
Requirement already satisfied: executing>=1.2.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (2.4.1)
Requirement already satisfied: pure-eval in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (0.2.3)
Requirement already satisfied: six>=1.12.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from asttokens>=2.1.0->stack-data->ipython>=6.1.0->ipywidgets) (1.16.0)

In [51]:
import torch
from transformers import DistilBertTokenizer, DistilBertForSequenceClassification, Trainer, TrainingArguments
from sklearn.model_selection import train_test_split
from datasets import load_metric, Dataset

### Load a Pretrained BERT Model and Tokenizer

In [52]:
model_name = 'distilbert-base-multilingual-cased'
tokenizer = DistilBertTokenizer.from_pretrained(model_name)
model = DistilBertForSequenceClassification.from_pretrained(model_name, num_labels=2)

tokenizer_config.json:   0%|          | 0.00/49.0 [00:00<?, ?B/s]

vocab.txt:   0%|          | 0.00/996k [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/1.96M [00:00<?, ?B/s]

config.json:   0%|          | 0.00/466 [00:00<?, ?B/s]

model.safetensors:   0%|          | 0.00/542M [00:00<?, ?B/s]

Some weights of DistilBertForSequenceClassification were not initialized from the model checkpoint at distilbert-base-multilingual-cased and are newly initialized: ['classifier.bias', 'classifier.weight', 'pre_classifier.bias', 'pre_classifier.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

### rename class column to labels:

In [53]:
df

      label                                         final_text
0         1  RussiaUkraine War रूस क कब्ज वाल यूक्रेन म भीष...
1         1  बजट म बुनियाद ढांच क्षेत्र क ल पूंजीगत व्यय बढ...
2         1  बेरोजगार क नाम आतंक गतिविध क प्रोत्साहित रह का...
3         1  UP Police Bharti 2024 कॉन्स्टेबल भर् परीक्ष ति...
4         1  School Close on 22 January राम मंदिर उद्घाटन य...
...     ...                                                ...
6699      0  पाकिस्तान म ईरा एयर स्ट्राइक क रिपोर्टिंग प्रत...
6700      1  Entertainment Top 5 News 21 Jan फाइटर म क बड़ ...
6701      1          खिल क बच्च क मुंह पोंछ थ म भावुक ह PM मोद
6702      1  तेलंग महालक्ष्म स्कीम शुर महिल क फ्र बस सर्विस...
6703      1  मणिपुर म भीड़ क मुख्यमंत्र एन बीरेन सिंह क घर ...

[6704 rows x 2 columns]

In [54]:
df = df.rename(columns={'class': 'label'})

### Tokenize the Data:

In [55]:
def tokenize_function(examples):
    return tokenizer(examples['final_text'], padding="max_length", truncation=True, max_length=128)  # Reduce max_length


# Assuming your data is a Pandas DataFrame
df_train, df_test = train_test_split(df, test_size=0.2)

train_dataset = Dataset.from_pandas(df_train)
test_dataset = Dataset.from_pandas(df_test)
train_dataset = train_dataset.map(tokenize_function, batched=True)
test_dataset = test_dataset.map(tokenize_function, batched=True)

Map:   0%|          | 0/5363 [00:00<?, ? examples/s]

Map:   0%|          | 0/1341 [00:00<?, ? examples/s]

In [56]:
training_args = TrainingArguments(
    output_dir='./results',
    num_train_epochs=3,
    gradient_accumulation_steps=2,
    per_device_train_batch_size=4,
    per_device_eval_batch_size=4,
    warmup_steps=500,
    weight_decay=0.01,
    logging_dir='./logs',
    logging_steps=10,
    evaluation_strategy="epoch",
    save_strategy="epoch"
)

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/transformers/training_args.py:1525: FutureWarning: `evaluation_strategy` is deprecated and will be removed in version 4.46 of 🤗 Transformers. Use `eval_strategy` instead
  warnings.warn(

In [57]:
trainer = Trainer(
    model=model,
    args=training_args,
    train_dataset=train_dataset,
    eval_dataset=test_dataset,
    tokenizer=tokenizer
)

In [58]:
trainer.train()

TrainOutput(global_step=2010, training_loss=0.12336385314426945, metrics={'train_runtime': 1140.8833, 'train_samples_per_second': 14.102, 'train_steps_per_second': 1.762, 'total_flos': 532452708897792.0, 'train_loss': 0.12336385314426945, 'epoch': 2.9977628635346756})

In [59]:
results = trainer.evaluate()
print(results)

{'eval_loss': 0.11737023293972015, 'eval_runtime': 11.9713, 'eval_samples_per_second': 112.018, 'eval_steps_per_second': 28.067, 'epoch': 2.9977628635346756}

In [60]:
predictions = trainer.predict(test_dataset)
preds = predictions.predictions.argmax(-1)

In [71]:
import torch

# Check if MPS (Metal Performance Shaders) is available
device = torch.device("mps") if torch.backends.mps.is_available() else torch.device("cpu")

def test_model_on_input():
    user_input = input("Enter a Hindi news headline: ")

    # Tokenize the user input
    encoded_input = tokenizer(user_input, return_tensors='pt', padding=True, truncation=True).to(device)

    # Move the model to the device
    model.to(device)

    # Make the prediction
    with torch.no_grad():
        output = model(**encoded_input)
        prediction = torch.argmax(output.logits, dim=-1).item()

    # Interpret the prediction
    result = "Fake" if prediction == 0 else "Real"
    print(f"The model predicts this news to be: {result}")

# Call the function to test
test_model_on_input()

Enter a Hindi news headline:  Vladimir Putin North Korea Visit उत्तर कोरिय क यात्र रूस राष्ट्रपत व्लादिमीर पुतिन किम जोंग स मुलाकात

The model predicts this news to be: Real

In [69]:
# Save df_test to a new CSV file
df_test.to_csv('test_dataset.csv', index=False)